<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    
    {% if error %}
        <p style="color: red;">Invalid credentials. Please try again.</p>
    {% endif %}
    {% if logout %}
        <p style="color: rgb(11, 127, 32);">Logout Successful.</p>
    {% endif %}

    <form action="/login" method="post">
        <label>User ID:</label><br>
        <input type="user_id" name="user_id" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <form action="/login/users/create" method="get">
        <button type="submit">Create User</button>
    </form>
</body>
</html>